body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(218, 233, 247);
}

a {
  color: #00B7FF;
  margin: 10px;
}

li {
  display: inline;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

li.foods {
  display: block;
  font-size: 12px;
  margin: 0;
  background-color: aliceblue;
  width: 40%;
  text-align: center;
  border-top: 2px solid midnightblue;
  padding: 3px;
}

select {
  color: midnightblue;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  background-color: midnightblue;
  padding: 20px;
  margin:0;
  width: 100%;
}

button {
  background-color: rgb(137, 190, 207);
  font-weight: 400;
  margin: 10px;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 30px
}

input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 3px;
  font-size: 13px;
  border-radius: 10px;
  margin: 5px;
}

table {
  border-collapse: collapse;
  width: fit-content;
  border: 2px solid black;
}
th {
  background-color: rgb(137, 190, 207);
  Color:white;
  border: 2px solid black;
  border-right: none;
  border-left: none;
  font-size: 15px;
  padding: 10px;
}
td {
  text-align:center;
  padding: 5px;
  border: 2px  dotted rgb(211, 207, 207);
  border-left: none;
  border-right: none;
}

.dates{
  margin: 10px;
  }
  
  form {
    margin: 10px;
  }
  
  .flightno{
    margin: 10px;
  }
  
  .airport {
    margin: 10px;
  }
  
  .airline {
    margin: 10px;
  }